.general-description-container {
    width: 50%;
}
.general-sections-container {
    width:50%;
}
footer {
    margin-top: 90px;
}
.sections-list-icons {
    width: 150px;
    height: 95px;
    object-fit: contain;
}
.sections-list li a {
    font-size: 1.8rem;
}
.general-description--title {
    font-size: 3.5rem;
    margin-top: 10px;
}
.sections-title {
    font-size: 3.5rem;
    margin-top: 10px;
}
.education-description--title {
    font-size: 2.4rem;
}
.experience-description--title {
    font-size: 2.4rem;
}
.information-list li {
    font-size: 1.6rem;
}