.general-description-container {
    width: 50%;
}
.general-sections-container {
    width:50%;
}
footer {
    margin-top: 90px;
}
.sections-list-icons {
    width: 150px;
    height: 95px;
    object-fit: contain;
}
.sections-list li a {
    font-size: 1.8rem;
}
