.first-paragraph-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: "one one one two"
        "one one one two";
}   
.text-one {
    grid-area: one;
    font-size: 2.2rem;
    margin-bottom: 5px;
    padding: 15px 0 0 15px;
    text-align: justify;
}
.image-first-text {
    grid-area: two;
    margin: 5px;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
}
.second-paragraph-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: "two one one one"
        "two one one one";
}
.text-two {
    grid-area: one;
    font-size: 2.2rem;
    margin-bottom: 5px;
    padding: 15px 15px 15px 0;
    text-align: justify;
}
.image-second-text {
    grid-area: two;
    margin: 5px;
    width: 120px;
    height: 160px;
    border-radius: 5px;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
}
.third-paragraph-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: "one one one two"
        "one one one two";
}
.text-three {
    grid-area: one;
    font-size: 2.2rem;
    margin-bottom: 5px;
    padding: 15px 0 0 15px;
    text-align: justify;
}
.image-third-text {
    grid-area: two;
    margin: 5px;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
}
.fourth-paragraph-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: "two one one one"
        "two one one one";
}
.text-four {
    grid-area: one;
    font-size: 2.2rem;
    margin-bottom: 5px;
    padding: 15px 15px 15px 0;
    text-align: justify;
}
.image-fourth-text {
    grid-area: two;
    margin: 5px;
    width: 150px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
}

.footer-container {
    display: grid;
    grid-template-columns: 65% 35%;
    min-width: 288px;
    height: 70px;
    margin: 5px 5px 0 5px;
    padding: 5px 5px 0 10px;
    background-color:rgb(198, 197, 197);
    border-radius: 5px 5px 0 0;
}
.contact--title {
    font-size: 1.8rem;
    line-height: 1.9rem;
    margin-bottom: 10px;
}
.media-title {
    font-size: 1.8rem;
    line-height: 1.9rem;
    margin-bottom: 10px;
}
.footer-list-containers li {
    list-style: none;
    font-size: 1.4rem;
    margin: 3px 0;
}
.media-list li a {
    text-decoration: none;
}