.first-paragraph-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: "one one one two"
        "one one one two";
    margin: 0 0 10px 0;    
}   
.text-one {
    grid-area: one;
    font-size: 3.6rem;
    margin-bottom: 5px;
    padding: 15px 0 0 15px;
    text-align: justify;
}
.image-first-text {
    grid-area: two;
    margin: 5px;
    width: 190px;
    height: 190px;
    border-radius: 5px;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
}
.second-paragraph-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: "two one one one"
        "two one one one";
    margin: 10px 0 10px 0;
}
.text-two {
    grid-area: one;
    font-size: 3.6rem;
    margin-bottom: 5px;
    padding: 15px 15px 15px 0;
    text-align: justify;
}
.image-second-text {
    grid-area: two;
    margin: 5px;
    width: 190px;
    height: 240px;
    border-radius: 5px;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
}
.third-paragraph-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: "one one one two"
        "one one one two";
    margin: 10px 0 10px 0;
}
.text-three {
    grid-area: one;
    font-size: 3.6rem;
    margin-bottom: 5px;
    padding: 15px 0 0 15px;
    text-align: justify;
}
.image-third-text {
    grid-area: two;
    margin: 5px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
}
.fourth-paragraph-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: "two one one one"
        "two one one one";
    margin: 10px 0 0 0;
}
.text-four {
    grid-area: one;
    font-size: 3.6rem;
    margin-bottom: 5px;
    padding: 15px 15px 15px 0;
    text-align: justify;
}
.image-fourth-text {
    grid-area: two;
    margin: 5px;
    width: 240px;
    height: 190px;
    border-radius: 5px;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
}